[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
mongoengine = "*"
pre-commit = "*"
django-mongoengine-filter = "*"
drf-yasg = "*"
django-rest-framework-mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.11"
